
.container{
    background: cornflowerblue;
    height: 52em;
}

.topic{ 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 1em;
        font-size: 3em;

}