body
{	
	background-image: linear-gradient(#1b1a3d,#3a6ee4);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	text-transform: capitalize;
	color: black;
	font-size: 20px;
}

h2{

		margin-top: 5em;
}

