<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>SCHEDULE</h2>

  <div class="table-responsive">          
  <table class="table" border="2">
    <thead>
      <tr>
        <th>Day</th>
        <th>First Class</th>
        <th>Second Class</th>
        <!-- <th>Country</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workingDay of working_days">
        <td>{{workingDay}}</td>
        <td *ngFor="let class of classes">
          
           
            <div class="dropdown" >
              <app-subject-dropdown [workingDay]="workingDay" [session]="class"></app-subject-dropdown>
              </div>
            

        </td>
        
            
      </tr>


    </tbody>


  </table>

  
  
</div>
</div>


</body>

</html>


