body
{
	display: flex;
	align-content: center;
	justify-content: center;
	background-image: url(https://images.unsplash.com/photo-1470566528253-41c75fc933c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-repeat: no-repeat;

	height: 100vh;
	
	overflow: hidden;
}

.login100-form-title
{
	font-family: Roboto+Mono;
	color: white;
	font-weight: bold;
	font-size: 3em;

	display: flex;
	justify-content: center;
}

.input100
{
	margin: 10px;
	border-radius: 5px;
}
.btn-btn-success{
	
   border-radius: 4px;
   box-shadow: 2px;
}
.limiter{
  border-radius: 25px;
  border: 3px solid white;
  padding: 30px; 
  height: 330px;
  width: 270px;
margin-top: 15%; 
}
.signUp{
	color: white;
}
.txt1{
	color: white;

}

.container-login100-form-btn{
	display: flex;
	justify-content: center;
	margin:10px;
}

