button{
        padding: 24px 24px 24px 24px;
        margin-right: 100px;
        border-radius: 20px;
}

.coa{
        background-color: red;
}

.stu{
        background-color: blue;
}
.sch{
        background-color: green;
}

.att{
        background-color: yellow;
}

.admin{
        margin-top: 50 px;
}