.head{
        background-image: url(../../../assets/images/visv.png);
        background-size: 10%;
}

button{
        padding: 24px 24px 24px 24px;
        margin-right: 100px;
        border-radius: 20px;
        border-width: 20px;
}

.coa{
        background-color: aliceblue;
}

.stu{
        background-color: aliceblue;
}
.sch{
        background-color: aliceblue;
}

.att{
        background-color: aliceblue;
}

.admin{
        margin-top: 50 px;
}
.first{
        display: flex;
        justify-content: center;
        align-items: center;
}