body
{
	background-image: linear-gradient(#1D2B64,#F8CDDA);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100em;


}
.head{
	background:  #1D2B64;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5em;
	display: flex;
	justify-content: center;
	color: white;
	font-weight: bolder;
}

.first
{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 20px;
}

.admin
{
	display: flex;
	align-content: center;
	justify-content: center;
	height: 20em;
	margin-top: 200px;
}

button
{
	margin: 10px;
	padding: 10px;
	margin-right: 50px;
	border-radius: 12px;
	border-width: thick;
	font-weight:bold;
}

ul
{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 45px;

}